version: '2'
services:
  minio:
    image: minio/minio:latest
    container_name: minio
    ports:
      - 9000:9000
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    command: server /data
  mc:
    image: minio/mc:latest
    container_name: mc
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc config host rm local;
      /usr/bin/mc config host add --quiet --api s3v4 local http://minio:9000 minio minio123;
      /usr/bin/mc rb --force local/my-bucket/;
      /usr/bin/mc mb --quiet local/my-bucket/;
      /usr/bin/mc policy set public local/my-bucket;
      mc mb local/secret-bucket;
      mc policy set upload local/secret-bucket;
      sleep infinity;
      "
  minio-gateway:
    image: minio/minio:latest
    container_name: minio-gateway
    depends_on:
      - minio
    ports:
      - 9001:9000
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    command: gateway s3 http://minio:9000
